<div class="col-md-3 technology-right">
    <div class="blo-top">
        <div class="tech-btm">
            <img src="~/Content/Images/banner-1.jpg" class="img-responsive" alt="" />
        </div>
    </div>
    <div class="blo-top">
        <div class="tech-btm">
            <h4>Sign up to our newsletter</h4>
            <p>Pellentesque dui, non felis. Maecenas male</p>
            <div class="name">
                <form>
                    <input type="text" placeholder="Email" required="">
                </form>
            </div>
            <div class="button">
                <form>
                    <input type="submit" value="Subscribe">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="blo-top1">
        <div class="tech-btm">
            <h4>Top stories of the week </h4>
            @Html.Partial("Partials/RightSide/_Single")
        </div>
    </div>

</div>
