
@{
    ViewBag.Title = "Author";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AspSite.BusinessLogic.Dto.AuthorDto
<div class="col-md-9 technology-left">

    <div class="technology-1">

        <div class="about" id="about">
            <div class="col-md-6 about-left-w3ls">
               <img src="~/Content/Images/ja.jpg"/>
            </div>
            <div class="col-md-6 person-info-agileits-w3layouts">
                <h3 class="w3_head w3_head1">About Me <br/><br/><span>I am @Model.Name</span></h3>
                <p><span>@Model.About</span></p>
                
            </div>
            <div class="clearfix"></div>
        </div>


            
    </div>


    </div>
