@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->



    @*<title>Business_Blog a Blogging Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Business_Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    *@


    <!--start-main-->
    
        <!--head-bottom-->
  
    <!-- banner -->
    
    <!-- technology -->
    <div class="col-md-9 technology-left">
        <div class="tech-no">
            <!-- technology-top -->
            @Html.Partial("Partials/Home/_Article")
            <!-- technology-top -->
            <!-- technology-top -->
           
            <!-- technology-top -->
        </div>
    </div>

    <!-- technology -->
    <!-- footer -->
    
    <!-- footer -->
    <!-- footer-bottom -->
    
    <!-- footer-bottom -->
    



