<iframe src="https://player.vimeo.com/video/18624866?title=0&byline=0&portrait=0" width="100%" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<h3><a href="single.html"> Tempor incididunt ut labore et dolore magna aliqua</a></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud eiusmod tempor consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. incididunt ut labore et dolore magna aliqua exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<div class="blog-poast-info">
    <ul>
        <li><i class="glyphicon glyphicon-user"> </i><a class="admin" href="#"> Admin </a></li>
        <li><i class="glyphicon glyphicon-calendar"> </i>30-12-2015</li>
        <li><i class="glyphicon glyphicon-comment"> </i><a class="p-blog" href="#">3 Comments </a></li>
        <li><i class="glyphicon glyphicon-heart"> </i><a class="admin" href="#">5 favourites </a></li>
        <li><i class="glyphicon glyphicon-eye-open"> </i>1.128 views</li>
    </ul>
</div>
